<div class="container">
<div class="contents">
<h2 class="title">Automatas Celulares</h2>
<div class="setup">
  <label for="ns" class="gridsize-label">NxN</label>
  <input type="number" name="ns"(change)="updateGrid(ns.value)" #ns [value]="n" min="16" class="gridsize">
  <label for="ss" class="gridsize-label">Milisegundos</label>
  <input type="number" name="mss"(change)="updateTime(mss.value)" #mss [value]="ms" min="10" class="gridsize">
  <label for="types" class="gridsize-label">Regla</label>
  <select name="types" (change)="updateTypes(types.value)" [value]="type" #types>
    <option value="1">Juego de la vida conway</option>
    <option value="2">Hormiga de Langton</option>
    <option value="3">Reglas de Wolfram</option>
  </select>
</div>
<div class="petridish">
  <app-grid #grid></app-grid>
</div>
<div class="wolframRules" [ngClass]="{hidden:type!=3}">
  <h3>Reglas de Wolfram</h3>
  <div class="rules-rows">
    <app-row #rowRule1></app-row>
    <app-row #rowRule2></app-row>
    <app-row #rowRule3></app-row>
    <app-row #rowRule4></app-row>
    <app-row #rowRule5></app-row>
    <app-row #rowRule6></app-row>
    <app-row #rowRule7></app-row>
    <app-row #rowRule8></app-row>
  </div>
  <div class="rules-cells">
    <app-cell class="rules" [row]="7" [column]="0" (changedEvent)="setupWRule8($event)"></app-cell>
    <app-cell  class="rules" [row]="6" [column]="0" (changedEvent)="setupWRule7($event)"></app-cell>
    <app-cell  class="rules" [row]="5" [column]="0" (changedEvent)="setupWRule6($event)"></app-cell>
    <app-cell  class="rules" [row]="4" [column]="0" (changedEvent)="setupWRule5($event)"></app-cell>
    <app-cell  class="rules" [row]="3" [column]="0" (changedEvent)="setupWRule4($event)"></app-cell>
    <app-cell  class="rules" [row]="2" [column]="0" (changedEvent)="setupWRule3($event)"></app-cell>
    <app-cell class="rules" [row]="1" [column]="0" (changedEvent)="setupWRule2($event)"></app-cell>
    <app-cell  class="rules" [row]="0" [column]="0" (changedEvent)="setupWRule1($event)"></app-cell>
  </div>
  <div class="rule-name">
     <h4>Regla {{currentWolframRule}}</h4>
  </div>
</div>
<div class="actions">
  <button class="btn" (click)="reset()">Limpiar</button>
  <button class="btn" (click)="nextIteration()">Siguiente</button>
  <button class="btn" (click)="simulate()">Simular</button>
  <button class="btn" (click)="stop()">Detener</button>
</div>
<div class="steps">
  <h2>{{steps}}</h2>
  <h3>Generaciones</h3>
</div>
<div class="teory">
  <div class="gameoflife-section" *ngIf="type==1">
    <h3>El Juego de la Vida</h3>
    <p>"El Juego de la vida es un autómata celular diseñado por el matemático británico John Horton Conway en 1970.
      <br/>
      Hizo su primera aparición pública en el número de octubre de 1970 de la revista Scientific American, en la columna de juegos matemáticos de Martin Gardner. Desde un punto de vista teórico,
      <br/>
      es interesante porque es equivalente a una máquina universal de Turing, es decir, todo lo que se puede computar algorítmicamente se puede computar en el juego de la vida."
      <a href="https://es.wikipedia.org/wiki/Juego_de_la_vida">Articulo de Wikipedia</a>
    </p>
  </div>
  <div class="langton-section" *ngIf="type==2">
    <h3>Hormiga de Langton</h3>
    <p>"La hormiga de Langton es un una máquina de Turing bidimensional con un conjunto de reglas muy sencillo, que sin embargo da lugar a comportamientos emergentes complejos.
      <br/>
      La hormiga de Langton clásica opera sobre una rejilla espacial cuadrada, en que cada celda puede estar en uno de dos estados (blanca o negra, 1 o 0, viva o muerta, etc).
      <br/>
      Fue inventada por Chris Langton en 1986 y su universalidad se demostró en el año 2000.
      <br/>
      La idea ha sido generalizada de varias maneras, entre las que se encuentran turmites que agregan más estados, así como reglas para agregar nuevos colores, rejillas tridimensionales​ o finitas."
      <a href="https://es.wikipedia.org/wiki/Hormiga_de_Langton">Articulo de Wikipedia</a>
    </p>
  </div>
  <div class="wolfram-section" *ngIf="type==3">
    <h3>Autómata celular elemental</h3>
    <p>"En matemáticas y teoría de computabilidad, un autómata celular elemental es un autómata celular unidimensional donde hay dos estados posibles (etiquetados 0 y 1)
      <br/> y la regla para determinar el estado de una célula en la próxima generación depende solo del estado actual de la célula y sus dos vecinos inmediatos.
      <br/>Este es uno de los modelos posibles más sencillos de computación. No obstante, hay un autómata celular elemental (regla 110, definido abajo) capaz de computación universal."
      <a href="https://es.wikipedia.org/wiki/Aut%C3%B3mata_celular_elemental">Articulo de Wikipedia</a>
    </p>
  </div>
</div>
</div>
</div>
